.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  
  &.about {
    width: 80%;
    margin: 0 auto;
    
    h1 {
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: bold;
    }
    
    .question {
      margin-bottom: 10px;
      font-size: 18px;
    }
    
    select {
      margin-bottom: 20px;
      padding: 12px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #ccc;
      width: 100%;
    }
    
    button {
      padding: 12px 24px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 6px;
    }
  }
}

.chat-container {
  margin-bottom: 20px;
  
  .chat-item {
    margin-bottom: 10px;
    
    .system-message {
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .user-message {
      background-color: #e0f2f1;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .assistant-message {
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  input[type="text"] {
    padding: 30px;
    border: 1px solid #ccc;
    flex-grow: 1;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 6px;
    width: 1000px;
    max-width: 400px; /* Adjust the max-width value as needed */
  }
  button {
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  .loader-text {
    color: white;
    font-size: 20px;
  }
}

